body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera {
  width: 300px;
  height: 250px;
  background-color: #D6D6D6;
  border-radius: 15px;
  box-shadow: 0 10px 15px -13px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lens {
  width: 125px;
  height: 125px;
  background-color: #f5f5f5;
  box-shadow: 0 8px 0 0 #C0C0C0;
   display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.inner-lens {
  width: 105px;
  height: 105px;
  background-color: #562dbf;
  display: flex;
  justify-content: center;
  align-items: center;
   border-radius: 50%;
}

.inner-lens-2 {
  border-top: 31px solid #486de7;
  border-right: 31px solid #5c88ff;
  border-bottom: 31px solid #486de7;
  border-left: 31px solid #5c88ff;
   border-radius: 50%;
}

.flash {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #F5F5F5;
  border-radius: 30%;
  box-shadow: 0 4px 0 0 #C0C0C0;
  right: 15px;
  top: 15px;
}

.button {
  position: absolute;
  width: 30px;
  height: 10px;
  background-color: #ff6d6d;
  border-radius: 70px;
  left: 16px;
  top: -10px;
}

